header.header
  .header__logo-box 
    img(src="/assets/img/VVV-logo.svg", alt="VVV Logo")
    span.header__product-name VeniVidiVici

  .header__social-box
    a.header__social-item(href="")
      img.header__social-ico(src="/assets/img/social-ico/discord.svg", alt="discord")
    a.header__social-item(href="")
      img.header__social-ico(src="/assets/img/social-ico/telegram.svg", alt="telegram")
    a.header__social-item(href="")
      img.header__social-ico(src="/assets/img/social-ico/facebook.svg", alt="facebook")
    a.header__social-item(href="")
      img.header__social-ico(src="/assets/img/social-ico/vk.svg", alt="vk")    
  
  .header__ui-box
    .header__currency-wrap
      .header__coin-box 
        img(src="/assets/img/coins.svg", alt="coins")
        span.header__coins-value 3250
      .header__money-box
        .header__money-wrap
          img(src="/assets/img/money.svg", alt="money")
          span.header__money-value €510
        button.header__refill-btn Пополнить
    .header__fav-wrap
      .header__add-box
        img(src="/assets/img/plus.svg", alt="+")
      .header__notification-box
        img(src="/assets/img/bell.svg", alt="bell")
        span.header__notification-counter 99
    .header__profile-box
      .header__profile-pic-wrap
        img.header__profile-pic(src="/assets/img/user-avatar.jpg", alt="")
      span.header__user-name Solnyshko12
      img(src="/assets/img/ar-sm-d.svg", alt="")
