// Font
$mainFont                : 'Futura PT bold', sans-serif;
$secondaryFont           : 'Futura PT', sans-serif;

// Size
$mainFontColor           : #101010;
$mainFontSize            : 18px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$desktopWidth            : 1280px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// font-color
$fc-light-1              : #C8D0D9;
$fc-light-2              : rgba(233, 236, 242, 0.9);
$fc-grey-1               : #A6B1BE;
$fc-grey-2               : #8492A3;
$fc-dark-1               : #09131D;

// bg-color
$bg-dark-1               : #182837;
$bg-dark-2               : #0E1C27;
$bg-grey-1               : #182837;
$bg-grey-2               : #203144;
$bg-grey-3               : #3B5063;
$bg-light-1              : #C8D0D9;


// Main color
$default-color           : #ffffff;
$primary-color           : #444ce0;
$success-color           : #26de81;
$danger-color            : #fc5c65;
$warning-color           : #fed330;
$light-color             : #999999;
$purple-color            : #8854d0;

// Neutral Color
$neutral-primary         : #303133;
$neutral-regular         : #606266;
$neutral-secondary       : #909399;
$neutral-placeholder     : #C0C4CC;

// Border Color
$border-base             : #DCDFE6;
$border-light            : #E4E7ED;
$border-lighter          : #EBEEF5;
$border-lightex          : #F2F6FC;
